.cart-window {
    position: fixed; 
    top: 0;          
    right: 0;        
    width: 35%;      
    height: 100%;    
    background-color: #00315D; 
    box-shadow: -2px 0px 10px 0px #00315D;
    z-index: 1000;  
    overflow-y: auto;
}

.cart-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87px;
    color: #fff;
}

.cart-title {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
}
  
.cart-close-button {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 24px;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(309deg) brightness(103%) contrast(103%);
}

.cart-close-button:hover {
    scale: 1.2;
}

.cart-order-info {
    display: flex;
    flex-direction: column;
    padding: 0px 30px 10px 30px;
    font-size: 22px;
    color: #fff;
}

.cart-order-number {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
}

.cart-items-container {
    margin-bottom: 40px;
    height: 49%;
    overflow-y: scroll; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
     &::-webkit-scrollbar {
        display: none;
    }
}

.cart-add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    height: 56px;
    border: none;
    background: none;
    border: 2px solid #FF8B5B;
    border-radius: 10px;
    color: #FF8B5B;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
}

.cart-total-amount {
    position: absolute;
    bottom: 90px;
    display: flex;
    width: 100%;
    padding: 20px 30px;
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    justify-content: space-between;
    box-sizing: border-box;
}

.cart-action-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-action-button {
    display: flex;
    position: absolute;
    width: 90%;
    height: 56px;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    border: none;
    background-color: #FF8B5B;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
}

.cart-action-button:hover {
    scale: 0.98;
    background-color: #db7551;
}
  