.menu-card {
    display: flex;
    position: relative;
    align-items: center;
    height: 116px;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .menu-card:hover {
    scale: 1.02;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .menu-card-image {
    width: 120px;
    height: 120px; 
    object-fit: cover;
    border-radius: 10px;
    background-color: blanchedalmond;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .menu-card-info {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 20px;
  }
  
  .menu-card-name {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
  }
  
  .menu-card-price {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
  }
  
  .menu-card-add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 68px; 
    height: 47px; 
    border: none;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F47356;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }

  .menu-card-add-button:hover {
    background-color: #bf5a45;
  }
  