.order-card {
    flex: 1 1 auto; 
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 223px;
    height: 274px; 
    margin-bottom: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
  }

  .order-card:hover {
    background-color: #DCEDFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .cancel-button {
    position: absolute;
    top: 15px; 
    right: 10px; 
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .cancel-button:hover {
    scale: 1.2;
  }

  .order-number {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .customer-name {
    font-size: 18px;
    color: #8F8F8F;
  }

  .order-items {
    padding: 20px 0px 20px 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
  }

  .order-item {
    margin-left: -20px;
    margin-bottom: 10px;
  }

  .extra-items {
    margin-left: -20px;
    font-size: 16px;
    color: #FFA580;
  }
  
  .order-button {
    width: 198px;
    height: 46px;
    position: absolute;
    bottom: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    background-color: transparent; 
    color: #FF8B5B; 
    border: 2px solid #FF8B5B;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    transition: all 0.2s ease;
  }

  .order-button:hover {
    background-color: #FF8B5B; 
    color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .status-text {
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 700;
  }
  
  .status-text.ready { color: #37D400; }
  .status-text.cancelled { color: #171717; }
  .status-text.completed { color: #717171; }
  
  