.menu-page {
    width: calc(100% - 117px);
    background-color: #f4f5f7;
}

.menu-header {
    width: 100%;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF8B5B;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-header-title {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}

.menu-categories {
    height: 87px;
    display: flex;
    align-items: center;
    padding: 25px 30px 25px 30px;
    justify-content: space-between;
}

.category-button {
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
    height: 52px;
    padding: 0px 30px;
    font-family: 'Nunito', sans-serif;
    background-color: #f4f5f7;
    transition: all 0.2s ease;
    cursor: pointer;
}

.category-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-button.active {
    background-color: #FF8B5B;
    color: white;
    cursor: default;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    .category-icon {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(309deg) brightness(103%) contrast(103%);
    }
}

.category-icon {
    margin-right: 10px;
}

.menu-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 166px;
    padding: 0px 30px; 
    gap: 20px 50px;
    width: calc(100% - 60px);
    margin: 0 auto; 
    max-height: calc(3 * (166px + 15px)); 
    overflow-y: auto;
  }
  

