.orders-page {
    width: calc(100% - 117px);
    background-color: #f4f5f7;
}

.orders-header {
    width: 100%;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-button {
    width: 50%;
    height: 100%;
    font-size: 26px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    border: none;
    background-color: #DCEDFF;
    cursor: pointer;
    transition: all 0.2s ease;
}

.header-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-button.active {
    background-color: #FF8B5B;
    color: #fff;
    cursor: default;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.orders-status-header {
    padding: 30px 30px 20px 30px;
    justify-content: space-between;
    height: 49px;
    width: 90%;
    display: flex;
}

.status-icon {
    margin-right: 20px;
}

.status-button {
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
    padding: 0px 30px;
    font-family: 'Nunito', sans-serif;
    background-color: #f4f5f7;
    transition: all 0.2s ease;
    cursor: pointer;
}

.status-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.status-button.active {
    background-color: #FF8B5B;
    color: white;
    cursor: default;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-auto-flow: row; 
    grid-auto-columns: minmax(243px, 1fr);
    gap: 10px 40px; 
    width: 96%;
    height: calc(2 * (306px + 20px)); 
    margin: 0 auto;
    overflow-x: hidden; 
    align-items: start; 
}





