.login-page {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('../../images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Nunito', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-form {
    background: white;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 614px;
    height: 628px;
    text-align: center;
  }

  .login-form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 90px;
    position: relative;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #FF8B5B;
    color: #fff;
  }

  .login-form-header-title {
    font-size: 24px;
  }

  .back-button {
    background-color: transparent;
    border: none;
    position: absolute;
    border-radius: 13px;
    left: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: auto;
    transition: all 0.2s ease;
  }

  .back-button:hover {
    background-color: #d87350;
  }

  .form-content {
    padding: 50px;
    display: flex;
    flex-direction: column;
  }
  
  .form-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 72px;
    font-weight: 700;
  }

  .input-title {
    font-size: 18px;
    font-weight: 600;
    color: #8F8F8F;
    margin-bottom: 10px;
  }

  .country-phone-group {
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: #EDEDED;
    height: 72px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .static-country-code {
    margin-left: 70px;
    margin-right: 3px;
    font-size: 22px;
  }

  .phone-input {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  .country-select-dropdown {
    position: relative;
    display: flex;
  }
  
  .country-select-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDEDED;
    border: none;
    border-right: 1px solid #C1C1C3;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 104px;
    height: 70px;
    margin: 0;
    cursor: pointer;
  }

  .country-select-arrow {
    margin-left: 15px;
  }

  .country-select-options {
    position: absolute;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    top: 44px;
    width: 103px;
    padding: 0;
    background-color: #EDEDED;
    padding-top: 10px;
  }

  .country-select-option {
    padding: 10px;
    padding-left: 16px;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .country-select-option:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .country-select-option:hover {
    background-color: #C1C1C3;
  }
  
  .country-flag {
    width: 32px;
    height: 24px; 
    border-radius: 4px;
    object-fit: cover;
  }
  
  .login-button {
    background-color: #FF8B5B;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 22px;
    width: 100%;
    height: 70px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    transition: all 0.2s ease;
  }

  .login-button:hover {
    background-color: #d5724f;
    scale: 0.97;
  }

  .login-button:disabled {
    background-color: #FFC1A8; 
    cursor: default;
  }

  .login-button:disabled:hover {
    scale: 1.0;
  }

  .form-text {
    margin: 0;
  }

  .code-input{
    width: 99.3%;
    height: 70px;
    text-align: center;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #EDEDED;
    letter-spacing: 5px;
    margin-bottom: 20px;
  }

  .code-input::placeholder{
    color: #C1C1C3;
  }

.resend-button {
    width: 300px;
    margin: 0 auto;
    margin-top: 17px;
    font-size: 20px;
    color: #8F8F8F;
    background: none;
    border: none;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    transition: all 0.2s ease;
}

.resend-button:hover {
    color: #747474;
    scale: 0.93;
}

  